      <div class="page-header">
        <h1>Login</h1>
        <div class="alert alert-info">
          Login with <a {{ action 'authenticateWithAAD' }} class="alert-link" style="cursor: pointer;"><i class="fa fa-aad-square"></i> Azure AD</a>.
        </div>
      </div>
